{{ if .logo }}
{{ $logoImage := resources.Get .logo }}
{{ if $logoImage }}
{{ if ne $logoImage.MediaType.SubType "svg" }}
{{ $logoImage = $logoImage.Fit "24x24" }}
{{ end }}
<div class="card">
  <div class="card-head d-flex">
    <img class="card-img-xs" src="{{ $logoImage.RelPermalink }}" alt="{{ .name }}" />
    <h5 class="card-title">{{ .name }}</h5>
  </div>
  <div class="card-body text-justify pt-1 pb-1">
    <p class="card-text">{{ .summary | markdownify }}</p>
  </div>
</div>
{{ else }}
<div class="card">
  <div class="card-head d-flex">
    <h5 class="card-title">{{ .name }}</h5>
  </div>
  <div class="card-body text-justify pt-1 pb-1">
    <p class="card-text">{{ .summary | markdownify }}</p>
  </div>
</div>
{{ end }}
{{ else if .icon }}
{{ $iconName := .icon }}
<div class="card">
  <div class="card-head d-flex">
    <span class="card-img-xs"><i class="{{ $iconName }}"></i></span>
    <h5 class="card-title">{{ .name }}</h5>
  </div>
  <div class="card-body text-justify pt-1 pb-1">
    <p class="card-text">{{ .summary | markdownify }}</p>
  </div>
</div>
{{ else }}
<div class="card">
  <div class="card-head d-flex">
    <h5 class="card-title">{{ .name }}</h5>
  </div>
  <div class="card-body text-justify pt-1 pb-1">
    <p class="card-text">{{ .summary | markdownify }}</p>
  </div>
</div>
{{ end }}
