{{ $author := site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
{{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

{{ $name := "Jane Doe" }}
{{ if $author.nickname }}
{{ $name = $author.nickname }}
{{ else if $author.name }}
{{ $name = $author.name }}
{{ end }}

{{ $sections := site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
{{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

{{ $backgroundImage := "/images/default-background.jpg" }}
{{ if site.Params.background }}
{{ $backgroundImage = site.Params.background }}
{{ end }}

{{ $darkBackgroundImage := $backgroundImage }}
{{ if site.Params.darkBackground }}
{{ $darkBackgroundImage = site.Params.darkBackground }}
{{ end }}

{{ $authorImage := "/images/default-avatar.png" }}
{{ if $author.image }}
{{ $authorImage = $author.image }}
{{ end }}
{{ $authorImage = resources.Get $authorImage }}
{{ if and $authorImage (and (ne $authorImage.MediaType.SubType "svg") (ne $authorImage.MediaType.SubType "gif")) }}
{{ $authorImage = $authorImage.Fit "148x148" }}
{{ end }}

{{ $src := resources.Get $backgroundImage }}
{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}
{{ $largew := default "1500x" }}
{{ $tiny := $src.Resize $tinyw }}
{{ $small := $src.Resize $smallw }}
{{ $medium := $src.Resize $mediumw }}
{{ $large := $src.Resize $largew }}
{{ if lt $src.Width "500" }}
{{ $tiny = $src }}
{{ $small = $src }}
{{ $medium = $src }}
{{ $large = $src }}
{{ end }}
{{ if lt $src.Width "800" }}
{{ $small = $src }}
{{ $medium = $src }}
{{ $large = $src }}
{{ end }}
{{ if lt $src.Width "1200" }}
{{ $medium = $src }}
{{ $large = $src }}
{{ end }}
{{ if lt $src.Width "1500" }}
{{ $large = $src }}
{{ end }}

{{ $darkSrc := resources.Get $darkBackgroundImage }}
{{ $darkTiny := $darkSrc.Resize $tinyw }}
{{ $darkSmall := $darkSrc.Resize $smallw }}
{{ $darkMedium := $darkSrc.Resize $mediumw }}
{{ $darkLarge := $darkSrc.Resize $largew }}
{{ if lt $darkSrc.Width "500" }}
{{ $darkTiny = $src }}
{{ $darkSmall = $src }}
{{ $darkMedium = $src }}
{{ $darkLarge = $src }}
{{ end }}
{{ if lt $src.Width "800" }}
{{ $darkSmall = $src }}
{{ $darkMedium = $src }}
{{ $darkLarge = $src }}
{{ end }}
{{ if lt $src.Width "1200" }}
{{ $darkMedium = $src }}
{{ $darkLarge = $src }}
{{ end }}
{{ if lt $src.Width "1500" }}
{{ $darkLarge = $src }}
{{ end }}

<div class="container-fluid home" id="home">
  <style>
    @media (max-width: 500px) {
      #homePageBackgroundImageDivStyled {
        background-image: url('{{ $tiny.RelPermalink }}');
      }
    }
    @media (min-width: 501px) and (max-width: 800px) {
      #homePageBackgroundImageDivStyled {
        background-image: url('{{ $small.RelPermalink }}');
      }
    }
    @media (min-width: 801px) and (max-width: 1200px) {
      #homePageBackgroundImageDivStyled {
        background-image: url('{{ $medium.RelPermalink }}');
      }
    }
    @media (min-width: 1201px) and (max-width: 1500px) {
      #homePageBackgroundImageDivStyled {
        background-image: url('{{ $large.RelPermalink }}');
      }
    }
    @media (min-width: 1501px) {
      #homePageBackgroundImageDivStyled {
        background-image: url('{{ $src.RelPermalink }}');
      }
    }
    html[data-theme='dark'] {
      @media (max-width: 500px) {
        #homePageBackgroundImageDivStyled {
          background-image: url('{{ $darkTiny.RelPermalink }}');
        }
      }
      @media (min-width: 501px) and (max-width: 800px) {
        #homePageBackgroundImageDivStyled {
          background-image: url('{{ $darkSmall.RelPermalink }}');
        }
      }
      @media (min-width: 801px) and (max-width: 1200px) {
        #homePageBackgroundImageDivStyled {
          background-image: url('{{ $darkMedium.RelPermalink }}');
        }
      }
      @media (min-width: 1201px) and (max-width: 1500px) {
        #homePageBackgroundImageDivStyled {
          background-image: url('{{ $darkLarge.RelPermalink }}');
        }
      }
      @media (min-width: 1501px) {
        #homePageBackgroundImageDivStyled {
          background-image: url('{{ $darkSrc.RelPermalink }}');
        }
      }
    }
  </style>
  <span class="on-the-fly-behavior"></span>
  <div id="homePageBackgroundImageDivStyled" class="background container-fluid"></div>
  <div class="container content text-center">
    <img
      src="{{ $authorImage.RelPermalink }}"
      class="rounded-circle mx-auto d-block img-fluid"
      alt="Author Image"
    />
    <h1 class="greeting">{{ $author.greeting }} {{ $name }}</h1>
    {{ if $author.designation }}
    <h2 class="text-light pt-2">{{ $author.designation }}</h2>
    {{ end }}
    {{ if $author.summary }}
    <div class="text-light mx-auto mt-3 mb-3" style="max-width: 780px;">{{ $author.summary | markdownify }}</div>
    {{ end }}
    {{ if $author.socialLinks }}
    <div class="text-container ms-auto">
      <ul class="social-link d-flex justify-content-center">
        {{ range $author.socialLinks }}
        <li>
          <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ if $author.subtitle }}
    <div class="typing-carousel">
      <span id="ityped" class="ityped"></span>
      <span class="ityped-cursor"></span>
    </div>
    <ul id="typing-carousel-data">
      {{ range $author.subtitle }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }}
    {{ if $sections }}
    {{ range first 1 (where (sort $sections "section.weight") ".section.enable" true) }}
    {{ $sectionID := replace (lower .section.name) " " "-" }}
    {{ if .section.id }}
    {{ $sectionID = .section.id }}
    {{ end }}
    <a href="#{{ $sectionID }}" class="arrow-center" aria-label="Read More - {{ $name }}"><i class="arrow bounce fa fa-chevron-down"></i></a>
    {{ end }}
    {{ end }}
  </div>
</div>
